@using Trader.Web.Models.Advert
@using Trader.Common
@using Trader.Web.Global
@using Trader.Web.Extensions

@model AdvertViewModel

@{
    ViewBag.Title = "Galeria";
    ViewBag.AdditionalMainBodyCss = "galleryMainBody";
    Layout = "~/Views/Shared/_Layout.AndroidLess22.cshtml";
}

@section HeaderSection {
    @{ var returnUrl = Url.Url(MVC.Advert.Details(), Model.BuildSmallVersion()); }
    <div class="galleryReturnToAdvert">
        <a class="galleryLinkClass" data-role="button" data-ajax="false" href='@returnUrl'></a>
    </div>
    <div class="nextPreviousPicture">
        <div class="previousPicture">
            @if(Model.DisplayedPictureIndex > 0){
                <a data-ajax="false" data-role="button" href='@(Url.Url(MVC.Advert.Gallery(), Model.BuildPreviousPicture()))'></a>
            }
        </div>
        <div class="nextPicture">
            @if (Model.DisplayedPictureIndex + 1< Model.Pictures.Count)
            {
                <a data-ajax="false" data-role="button" href='@(Url.Url(MVC.Advert.Gallery(), Model.BuildNextPicture()))'></a>
            }
        </div>
    </div>
}

<div class="pictureBackground">
    @if (Model != null && Model.Pictures != null && Model.Pictures.Any())
    {
        var pictureToDisplay = Model.Pictures.ElementAt(Model.DisplayedPictureIndex);
        
        <div class="picture" id="@Consts.JavascriptIds.GalleryPictureId" >
            <img alt="" src="@pictureToDisplay" />
        </div>
    }
    else
    { 
        <div>Nie znaleziono zdjęć</div>
    }
</div>

<script type="text/javascript">
    $('#@Consts.JavascriptIds.MainBodyId').live('@Consts.JavascriptEvents.Pagecreate', function (event) {

        $('#@Consts.JavascriptIds.MainBodyId').live('swipeleft', function (event) {
            document.location = '@Html.Raw(Url.Url(MVC.Advert.Gallery(), Model.BuildNextPicture()))';
        });

        $('#@Consts.JavascriptIds.MainBodyId').live('swiperight', function (event) {
            document.location = '@Html.Raw(Url.Url(MVC.Advert.Gallery(), Model.BuildPreviousPicture()))';
        });

    });
</script>